<!-- forgot_password.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://media.licdn.com/dms/image/v2/C4E0BAQFB2e0c3baQvQ/company-logo_200_200/company-logo_200_200/0/1630631364709/techstargroup_logo?e=2147483647&v=beta&t=uaBzx5q2IQnBxxVfkA7F8v6fsrgrLGqr6TbX_oHAn64"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">
  </head>
  <body>
    <div class="container">
      <h2>Reset Password</h2>
      {% if messages %} {% for message in messages %}
      <p class="message">{{ message }}</p>
      {% endfor %} {% endif %}
      <form method="POST">
        {% csrf_token %}
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
        <button type="submit">Send Reset Link</button>
      </form>
      <a href="{% url 'login' %}">Back to Login</a>
    </div>
  </body>
</html>
